* {
    border: none;
    transition: all 150ms;
    box-sizing: border-box;
}
:root {
    font-family: 'Roboto', sans-serif;
    color: white;
    --color-1: crimson;
    --color-2: #F11A7B;
    --primary-color: white;
    --bg-color: #252525;
    --bg-color-900: #353535;
    --color-primary: #6741d9;
    --color-primary-light: #7950f2;
    --color-text: #dee2e6;
    --color-text-dark: #adb5bd;
    --color-background-100: #343a40;
    --color-background-500: #2b3035;
    --color-background-900: #212529;
    --color-red: #fa5252;
    --color-red-dark: #e03131;
    font-size: 1rem;
}
body {
    background-color: var(--color-background-900);
    font-family: Arial, sans-serif, Helvetica, sans-serif;
}
input:focus {
    outline: none;
}
a {
    text-decoration: none;
}

.go-home-btn {
    padding: 10px;
    aspect-ratio: 1/1;
    font-size: 1.2rem;
    color: white;
    background-color: var(--primary-color);
    position: fixed;
    bottom: 20px;
    left: 10px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: hide-and-apear 10s linear infinite;
}
  
.go-home-btn  img {
    width: 30px;
}

.go-home-btn:hover {
    background-color: var(--color-1);
}
