* {
	color: white;
	background: black;
	font-family: sans-serif;
}
.container {
/*	background: black;*/
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
/*	animation: rotate-all 10s infinite linear;*/
}
@keyframes rotate-all {
	from {
		rotate: 0deg;
	}
	to {
		rotate: 360deg;
	}
}



/* scens 1 */
.scens-1-circle,
.scens-2-circle,
.scens-3-circle,
.scens-4-circle,
.scens-5-circle
 {
	border-radius: 500px;
	background: white;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.scens-1-circle {
	animation: circle-1-anim infinite 2s linear forwards;
}
.scens-2-circle {
	animation: circle-2-anim infinite 2s linear forwards;
}
.scens-3-circle {
	animation: circle-3-anim infinite 2s linear forwards;
}
.scens-4-circle {
	animation: circle-4-anim infinite 2s linear forwards;
}
.scens-5-circle {
	animation: circle-5-anim infinite 2s linear forwards;
}

@keyframes circle-1-anim {
	1% {
		left: 50%;
		width: 0.1ex;
		height: 0.1ex;
	}
	25% {
		left: 20%;
	}
	30% {
	}
	50% {
		left: 40%;
	}
	70% {
		left: 70%;
	}
}

@keyframes circle-2-anim {
	1% {
		right: 50%;
	}
	25% {
		right: 20%;
		width: 0.1ex;
		height: 0.1ex;
	}
	30% {
	}
	50% {
		right: 40%;
	}
	70% {
		right: 70%;
	}
}

@keyframes circle-3-anim {
/*	1% {
		width: 5px;
		height: 5px;
	}*/
	1% {
		width: 0.1ex;
		height: 0.1ex;
	}
/*	70% {
		width: 5px;
		height: 5px;	
	}*/
}

@keyframes circle-4-anim {
	1% {
		left: 50%;
	}
	25% {
		left: 70%;
	}
	30% {
	}
	50% {
		left: 40%;
		width: 0.1ex;
		height: 0.1ex;
	}
	70% {
		left: 20%;
	}
}

@keyframes circle-5-anim {
	1% {
		right: 50%;
	}
	25% {
		right: 70%;
	}
	30% {
	}
	50% {
		right: 40%;
	}
	70% {
		right: 20%;
		width: 0.1ex;
		height: 0.1ex;
	}
}
